<h2>Register</h2>


<table *ngIf="status" class="table table-sm table-striped">
    <tr>
        <th colspan="5">B</th>
        <th colspan="5">C</th>
    </tr>
    <tr>
        <td colspan="5">{{status[REGISTER.B] | byte:base}}</td>
        <td colspan="5">{{status[REGISTER.C] | byte:base}}</td>
    </tr>
    <tr>
        <th colspan="5">D</th>
        <th colspan="5">E</th>
    </tr>
    <tr>
        <td colspan="5">{{status[REGISTER.D] | byte:base}}</td>
        <td colspan="5">{{status[REGISTER.E] | byte:base}}</td>
    </tr>
    <tr>
        <th colspan="5">H</th>
        <th colspan="5">L</th>
    </tr>
    <tr>
        <td colspan="5">{{status[REGISTER.H]| byte:base}}</td>
        <td colspan="5">{{status[REGISTER.L]| byte:base}}</td>
    </tr>
    <tr>
        <th colspan="5">A</th>
        <th colspan="1">s</th>
        <th colspan="1">c</th>
        <th colspan="1">z</th>
        <th colspan="1">p</th>
        <th colspan="1">a</th>
    </tr>
    <tr>
        <td colspan="5">{{status[REGISTER.A]| byte:base}}</td>
        <td colspan="1">{{status.flags.sign | bool}} </td>
        <td colspan="1">{{status.flags.carry | bool}}</td>
        <td colspan="1">{{status.flags.zero | bool}}</td>
        <td colspan="1">{{status.flags.parity | bool}}</td>
        <td colspan="1">{{status.flags.aux | bool}}</td>
    </tr>
    <tr>
        <th colspan="10">Stackpointer</th>
    </tr>
    <tr>
        <td colspan="5">{{status.stackPointer.high | byte:base}}</td>
        <td colspan="5">{{status.stackPointer.low  | byte:base}}</td>
    </tr>
    <tr>
        <th colspan="10">Programcounter</th>
    </tr>
    <tr>
        <td colspan="5">{{status.programCounter.high | byte:base}}</td>
        <td colspan="5">{{status.programCounter.low  | byte:base}}</td>
    </tr>

</table>
