
.instruction {
  &:first-child {
    background-color: #ffc107;
  }

  display: flex;
  align-items: center;

  .badge {
    margin: 0.25em;

    &.type {
      width: 4em;
    }

    &.arg {
      width: 4em;
      margin-left: 1px;
    }
  }

}

